*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
       cursor:url("nhatanh2.png") 16 16, auto;
}
body{
    background-image: url(pexels-834934396-20818858.jpg);

    margin: 0;
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 10, 10);
    padding: 20px 50px;
    text-align: center;
    align-items: center;
    padding: 1% 8%;
}
.logo a{
    color: aqua;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}
.nav{
    display: flex;
   gap: 100px;
    list-style: none;
    justify-content: space-between;
}
.nav li a{
 text-decoration: none;
 color: aqua;
}
.nav li a:hover{
    text-decoration: underline;
    color: aqua;
    
}
.toggle{
    display: none;
    flex-direction: column;
    margin-top: 0;
    gap:9px;
    
}
.toggle span{
    width: 30px;
    height: 3px;
    background: cyan;
    border-radius: 2px;
}
@media (max-width:768px) {
   body{
    background-image: url(pexels-resourceboy-13031767.jpg);
    height:100vh;
    margin: 0;
   } 
.nav{
    display: none;
    flex-direction: column;
    gap:10px;
    position: absolute;
    top:6%;
    background: black ;
    width: 100%;
    left: 0;
    transition: 3s ease;
    padding: 12px;
}
.header{
    padding: 3% 8%;
}
.trangchu{
    padding:8px 20px;
}
.about{
    padding:8px 35px;
}
.contact{
    padding:8px 30px;
}
.nav li {
    white-space: nowrap;
    left:0;
    
    width: 10%;
    margin-left: 35px;
    padding: 0;
}
.nav li a{
    color:white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 30px;
}
.nav li a:hover{
   background: cyan;
   color: black;
}
.nav.active{
    display: flex;
}
.toggle{
    display: flex;
    flex-direction: column;
}
}